body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #222;
}

header {
    background: #000;
    color: white;
    padding: 40px;
    text-align: center;
}

h2 {
    margin-left: 20px;
}

.hero {
    background: white;
    margin: 20px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

#search {
    margin: 20px;
    padding: 12px;
    width: 90%;
    font-size: 16px;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
}
